@use '@scssVariables' as v;

.motion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &.dark {
    background: v.$grey-dark;
  }
}

.motion-img {
  width: 500px;
  margin-top: 7rem;
  z-index: 999;
}

/*** Responsive ***/

@media screen and (max-width: 425px) {
  .motion-img {
    margin-top: 2rem;
  }
}
