// styles

.fw-regular {
  font-weight: 400 !important;
}

.fw-normal {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-extra-bold {
  font-weight: 800 !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-blank {
  text-decoration: none !important;
}

.bg-purple {
  background: #c6c3f9;
}

.text-purple {
  color: #584edc;
}

.text-white {
  color: #fff;
}
