@use '@scssVariables' as v;

.about {
  width: 100%;
  height: 100%;
  padding-top: 5px;

  &.dark {
    background: #33333c;

    .text-highlight {
      color: #6767ff;
    }
  }

  h2.about-title {
    font-size: 2.5rem;
    color: v.$gray;
    margin-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;

    &.dark-text {
      color: #fff;
    }
  }

  &-text {
    font-size: 1.2rem;
    color: v.$gray;
    margin-top: 1.5rem;
    margin-inline-start: 23%;
    margin-inline-end: 23%;
    font-family: Arial, Helvetica, sans-serif;

    &.dark-text {
      color: #fff;
    }
  }
}

.text-highlight {
  color: #a7a4e6;
  font-size: 1.2rem;
  font-weight: 700;
}
