@use '@scssVariables' as v;

.container {
  width: 100%;
  z-index: 2;

  &.dark {
    background: #33333c;
  }
  .text-animate {
    animation-duration: 1.7s;
  }

  .content {
    .dark-text {
      color: #fff;
    }

    position: relative;
    &-title,
    &-subtitle {
      font-size: 8.7rem;
      letter-spacing: -0.022em;
      color: v.$gray;
      font-family: 'Playfair Display', Helvetica, Arial, sans-serif;
    }

    &-subtitle {
      margin-top: -5rem;
    }

    &-img {
      position: absolute;
      width: 550px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 15rem;
      z-index: 9;
    }
  }
}

.animation {
  width: 100%;

  &-container {
    //margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    cursor: pointer 8;

    a {
      text-decoration: none !important;
      font-family: Arial, Helvetica, sans-serif;
    }
    &.dark {
      background: #33333c;
    }
  }
}

.scroll-text {
  letter-spacing: 0.12em;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
