@use '@scssVariables' as v;

.container {
  width: 100%;
  z-index: 2;

  &.dark {
    background: v.$grey-dark;
  }

  .text-animate {
    animation-duration: 1.7s;
  }

  .content {
    .dark-text {
      color: #fff;
    }

    position: relative;
    &-title,
    &-subtitle {
      font-size: 8.7rem;
      letter-spacing: -0.022em;
      color: v.$gray;
      font-family: 'Playfair Display', Helvetica, Arial, sans-serif;
    }

    &-subtitle {
      margin-top: -5rem;
    }

    &-img {
      position: absolute;
      width: 550px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 15rem;
      z-index: 9;
    }
  }
}

.animation {
  width: 100%;

  &-container {
    //margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    cursor: pointer 8;

    a {
      text-decoration: none !important;
      font-family: Arial, Helvetica, sans-serif;
    }

    &.dark {
      background: v.$grey-dark;
    }
  }
}

.scroll-text {
  letter-spacing: 0.12em;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/*** Responsive ***/

@media screen and (min-width: 769px) and (max-width: 863px) {
  .container {
    margin-top: 2.5rem;
    .content {
      &-title {
        font-size: 7rem;
      }

      &-subtitle {
        font-size: 7rem;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .content {
      &-title {
        font-size: 6rem;
      }

      &-subtitle {
        font-size: 6rem;
        margin: 0;
      }
    }
  }

  .animation .animation-container img {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 426px) and (max-width: 595px) {
  .container {
    margin-top: 1.5rem;
    .content {
      &-title {
        font-size: 4rem;
      }

      &-subtitle {
        font-size: 4rem;
        margin: 0;
      }
    }
  }

  .animation .animation-container img {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 425px) {
  .container {
    .content {
      &-title {
        font-size: 3rem;
      }

      &-subtitle {
        font-size: 3rem;
        margin: 0;
      }
    }
  }

  .animation .animation-container img {
    padding-top: 2rem;
  }
}
