@use '@scssVariables' as v;

.animation {
  width: 100%;

  &-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.container {
  z-index: 2;
  .text-animate {
    animation-duration: 1.7s;
  }

  .content {
    position: relative;
    &-title,
    &-subtitle {
      font-size: 8.7rem;
      letter-spacing: -0.022em;
      color: v.$gray;
      font-family: 'Playfair Display', Helvetica, Arial, sans-serif;
    }

    &-subtitle {
      margin-top: -5rem;
    }

    &-img {
      position: absolute;
      width: 550px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 15rem;
      z-index: 9;
    }
  }
}
